@use "variables" as *;

.site-footer {
  background-color: $colorCorporatius;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 50;
  border-top: 4px solid $teal-accent;
}

.footer-container {
  max-width: 80rem; // 7xl
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem; // py-4 i px-4
  text-align: center;

  // Media queries per als paddings responsius (sm i lg)
  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer-copy {
  color: $text-muted;
  font-size: 0.875rem; // text-sm
  margin: 0;
}